.dashboard-layout{
    display:flex;
    gap:25px;
    align-items:flex-start;
}

.dashboard-main{
    flex:1;
    display:flex;
    flex-direction:column;
    gap:25px;
}
@media (max-width:992px){

    .dashboard-layout{
        flex-direction:column;
    }

}