.summary-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(240px,1fr));
    gap:20px;
}

.summary-card{
    background:#fff;
    border:1px solid #edf2f7;
    border-radius:20px;
    padding:28px;
    box-shadow:0 8px 24px rgba(15,23,42,.06);

    transition:all .3s ease;

    cursor:pointer;

    position:relative;

    overflow:hidden;
}

.summary-card::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:5px;
    height:100%;
    background:#E53935;
}

.summary-card:hover{
    transform:translateY(-8px);
    box-shadow:0 18px 40px rgba(15,23,42,.12);
}

.summary-card h3{
    display:flex;
    align-items:center;
    gap:12px;

    font-size:16px;
    font-weight:600;

    color:#64748b;

    margin:0;
}

.summary-card h3 svg{
    color:#E53935;
    font-size:20px;
}

.summary-card p{
    margin-top:22px;

    font-size:32px;
    font-weight:700;

    color:#111827;
}
